<p id="notice"><%= notice %></p>

<p>
  <strong>Item:</strong>
  <%= @auction.item %>
</p>

<p>
  <strong>Amount:</strong>
  <%= @auction.amount %>
</p>

<p>
  <strong>Bid:</strong>
  <%= @auction.bid %>
</p>

<p>
  <strong>Bidder:</strong>
  <%= @auction.bidder %>
</p>

<%= link_to 'Edit', edit_auction_path(@auction) %> |
<%= link_to 'Back', auctions_path %>
